.container {
  width: 800px; /* Largura do formulário */
  margin: 0 auto; /* Centralizar o formulário horizontalmente */
  background-color: #bd8427 !important;  /* Cor de fundo marrom claro */
  padding: 110px; /* Espaçamento interno */
  border-radius: 10px; /* Borda arredondada */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
h2 {
  text-align: center; /* Centralizar o título */
}

form {
  display: flex;
  flex-direction: column;
  width: 800;
  ;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5; /* Reduz a opacidade do botão desabilitado */
  cursor: not-allowed;
}

  
  